

.grid-container {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-inline-end: 10em;
    padding-inline-start: 10em;
    margin: 0 auto;
}

header , footer {
    display: flex;
    margin: 0 auto;
    color: white;
    background-color: black;
    grid-gap: 1rem;
}

header > div:nth-child(1) {
    margin-right: 90px;
    font-size: 1rem;
    padding-inline-start: 100px;
   
}

header {
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 10;
    padding-inline-end: 100px;
}

.grid-container > div {
    padding: 1em;
}

.grid-container > div:nth-child(1) {
    background: none;
}

.grid-container > div:nth-child(2) {
    text-align: center;
}

.grid-container > div:nth-child(3) {
    background: ;
    
}

.author {
    font-size: 0.35rem;
    line-height: 1.125;
    letter-spacing: 0.0625rem;
}

.title {
    font-size: 1.25rem; 
    line-height: 1.125;
}

.source {
    font-size: 0.5rem;
    text-align: right;
}

.main-title {
    padding: 16px;
    font-size: 1.75rem;
    font-weight: 900;
}

.main-about {
    font-size: 1rem;
    padding-bottom: 10px;
}

footer {
    

}