
#grid {
    display: grid;
    grid-template-rows: 20px auto 100px;
    grid-gap: 1em;

}

header , footer {
    grid-column: 1 / 4;
    text-align: center;
    color: white;
    background-color: black;
}

#logo-navbar {
    display: flex;
    justify-content: space-between;
    
}



#main-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1em;

 }


 #left-section {
     display: grid;
     grid-gap: 1em;

     
}

 #middle-section {
     display: grid;
}