#grid {
    display: grid;
    grid-template-rows: 100px auto 100px;
}

header , footer {
    grid-column: 1 / 4;
    text-align: center;
    color: white;
    background-color: black;
}

#main-container {
    display: grid;
    grid-columns: 1fr 2fr 1fr;
    

    }
}