
#grid {
    display: grid;
    grid-template-rows: 20px auto 20px;
    grid-gap: 1em;
    align

}

header , footer {
    grid-column: 1 / 4;
    text-align: center;
    color: white;
    background-color: black;
    grid-gap: 1rem;
}

#logo-navbar {
    display: flex;
    justify-content: space-between;
    
}

#logo-navbar > div:nth-child(1) {
    width: 500px;
}


#main-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1em;

 }


#left-section {
     display: grid;
     grid-gap: 1em;
     width: 1fr 50px;
     height: 1fr 50px;
     
}

#middle-section {
     display: grid;
     flex-grow: 1;
}

#right-section {
    display: grid;
    grid-area: 1 / 2;
    
}
